#//////////////////////////
# OS X
#//////////////////////////
.DS_Store

#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/

#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

#//////////////////////////
# LLFramework
#//////////////////////////
LLFramework/dist/ll.d.ts
LLFramework/dist/ll.js


